server:
  port: 8085

spring:
  application:
    name: chat-service

  datasource:
    url: jdbc:mysql://localhost:3306/chat_db?createDatabaseIfNotExist=true
    username: root
    password: Root123$
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
