server:
  port: 8084

spring:
  application:
    name: enrollment-service

  datasource:
    url: jdbc:mysql://localhost:3306/enrollment_db?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
    register-with-eureka: true
    fetch-registry: true

#logging:
#  level:
#    org.hibernate.SQL: DEBUG
